<!--The content below is only a placeholder and can be replaced.-->
<div>
    <button routerLink="/addData" class="btn btn-primary">Create</button>&nbsp;&nbsp;
    <button routerLink="/showData" class="btn btn-primary">Read</button>
</div>
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to CRUD Application</h1>
        <marquee>
            <p><b>CRUD</b>-<b>C</b>reate <b>R</b>ead <b>U</b>pdate <b>D</b>elete</p>
        </marquee>
    </div>
</div>
<router-outlet></router-outlet>